<div class="signin-page">
  <div class="signin-box">
    <div class="signin-title">
      <div class="inner">
        <h1>Sign In</h1>
      </div>
    </div>
    <div class="inner">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="form">
        <label for="email">E-mail</label>
        <input pInputText name="email" type="email" [formControl]="loginForm.controls['email']" required>
        <label for="password">Password</label>
        <input name="password" type="password" [formControl]="loginForm.controls['password']" required>
        <button class="c2a_btn large">SIGN IN</button>
      </form>
    </div>
  </div>
</div>
