@import '~assets/sass/variables';

.signin-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;

    .signin-box {
        background: #ffffff;
        height: 400px;
        width: 300px;
        // padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

        .signin-title {
            background: $primaryColor;
            padding: 20px 0;
            border-radius: 10px 10px 0px 0px;
            margin-bottom: 20px;

            h1 {
                font-size: 20px;
                color: #ffffff;
                text-align: center;
            }
        }

        > .inner {
            height: 287px;
        }
        form {
            width: 100%;
            height: 100%;
            position: relative;
            label {
                width: 100%;
            }
            input {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                padding: 0 10px;
                font-size: 15px;
                line-height: 19px;
                border: 0;
                border-bottom: 1px solid #3d3d3d;
            }
            button {
                position: absolute;
                bottom: 20px;
            }
        }
    }
}