@mixin s-view {
  @media (max-width: 600px) and (min-width: 2px) { @content; }
}

@mixin tablet {
  @media (max-width: 880px)  and (min-width: 601px){ @content; }
}

@mixin tablet-landscape {
  @media (max-width: 1114px) and (min-width: 881px) { @content; }
}

@mixin desktop {
  @media (max-width: 1200px) and (min-width: 1799px) { @content; }
}

@mixin desktop-xl {
  @media (min-width: 1800px) { @content; }
}